.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../assets/MenuAbertoMobile.svg");
}


.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao:checked~.lista__menu {
    display: block;
}

.container__botao {
    display: none;
}

.container__imagem {
    padding: 1em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista__menu-titulo, 
.lista__menu-item {
    padding: 1em;
    background-color: var(--branco);
}

.lista__menu-titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista__menu-link {
    background-color: var(--azul-degrade);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
    font: var(--fonte-principal);
}

.container__titulo,
.container__botao,
.opcoes,
.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
        color: var(--preto);
        font-family: var(--fonte-principal);
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
        font-family: var(--fonte-principal);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }
    .opcoes__botao:checked~ .lista__menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista__menu-item:hover {
        background: var(--azul-degrade);
    }

    .lista__menu-item:hover > .lista__menu-link {
        -webkit-text-fill-color: var(--branco);
    }

}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container__texto {
        display: block;
    }

}

    